name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main  # setiap push ke main akan trigger deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 'stable'

    - name: Setup Java JDK
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Install dependencies
      run: flutter pub get

    - name: Build Flutter Web
      run: flutter build web --release

    - name: Build Flutter APK
      run: flutter build apk --release

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v3
      with:
        name: penjualan.apk
        path: build/app/outputs/flutter-apk/app-release.apk

    - name: Copy APK to Web Build Directory
      run: cp build/app/outputs/flutter-apk/app-release.apk build/web/penjualan.apk

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GH_PAT }}
        publish_dir: ./build/web
        publish_branch: gh-pages
